<section id="activities">
    <p class="section__text__p1">Discover My</p>
    <h1 class="title">Activities</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="title">Sunshine, DCRUST</h2>
          <h2 class="experience-sub-title">President</h2>
          <p>2019-23</p>
          <p>Event Management & Personality Development Group</p>
          <p>Organised both online as well as offline University level events.</p>
        </div>
        <div class="details-container">
          <h2 class="title">DCRUST Alumni Association</h2>
          <h2 class="experience-sub-title">Coordinator</h2>
          <p>2022-23</p>
          <p>Official Alumni Association of DCRUST</p>
        </div>
      </div>
      <div class="about-containers">
        <div class="details-container">
          <h2 class="title">Pratibimb, DCRUST</h2>
          <h2 class="experience-sub-title">President</h2>
          <p>2020-23</p>
          <p>Event Management & Personality Development Group</p>
          <p>Organised online events during pandemic times.</p>
        </div>
        <div class="details-container">
          <h2 class="title">Chess</h2>
          <h2 class="experience-sub-title">Player</h2>
          <p>Represented University @NZIU, Chandigarh. </p>
          <p>Winner of College level Chess tournament.</p>
        </div>
      </div>
    </div>    
</section>