
<section id="contact">
    <p class="section__text__p1">Lets</p>
    <h1 class="title">Connect</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <p>
            I’d love to hear from you! Whether you have questions, feedback, or want to collaborate on an exciting project, don’t hesitate to get in touch.
          </p>
          <p>
            Feel free to reach out using the form below, or connect with me through my social media channels. I’m always open to discussing new opportunities, creative ideas, or just having a good conversation.       
          </p>
          <br/>
          <h4>Email: <a href="mailto:varchaswiaman14@gmail.com">varchaswiaman14@gmail.com</a></h4>
          <h4>LinkedIn: <a href="https://www.linkedin.com/in/aman-v-89861b90/" target="_blank">LinkedIn/AmanVarchaswi</a></h4>
          <h4>GitHub: <a href="https://github.com/peacethedominator" target="_blank">GitHub/AmanVarchaswi</a></h4>
          <h4>Call at: <a href="tel:+918800436266">+91-8800436266</a> | <a href="tel:+918986950067">+91-8986950067</a></h4>
        </div>
      </div>
    </div>
</section>