<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="title">Veersa Technologies</h2>
          <h2 class="experience-sub-title">Software Development Engineer</h2>
          <img class="logo" src="./assets/veersa_logo.jpg" alt="Veersa logo" />
          <h3>Feb 2023 - Present</h3>
          <ul class="section-summary">
            <li><b>Analyzed client requirements and led UI/UX and backend enhancements</b>, resulting in an 80–90% reduction in system errors and significantly improved user adoption.</li>
            <li><b>Debugged and resolved bugs</b> and maintenance of 6+ production databases, ensured seamless system performance across multiple applications.</li>
            <li><b>Designed and presented 5+ architectural and deployment proposals</b>, collaborating with cross-functional and onshore/offshore teams to guide overall project direction. </li>
            <li><b>Facilitated detailed client requirement sessions</b>, identifying key database and application features that led to the successful delivery of a user-friendly interface adopted by 1,000+ homecare professionals. </li>
            <li><b>Followed clean code practices and version control standards;</b> contributed to Agile development processes through daily SCRUM participation and iterative feature delivery</li>
        </ul>
        </div>
      </div>
    </div>    
</section>
