<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="title">Veersa Technologies</h2>
          <h2 class="experience-sub-title">Software Development Engineer</h2>
          <h3>Feb 2023 - Present</h3>
          <ul>
            <li>Optimized user interface and backend systems, enhanced user adoption and reducing errors by 80-90%. </li>
            <li>Resolved bug fixes and maintenance of 6+ databases, ensured seamless system performance across multiple applications. </li>
            <li>Created and presented 5+ architectural and deployment proposals, coordinated in shaping the project direction. </li>
            <li>Led comprehensive client requirement gathering sessions that identified key database functionalities, resulting in the successful 
                design of a user-friendly interface for over 1,000 homecare professionals. </li>
        </ul>
        </div>
      </div>
    </div>    
</section>
