<section id="education">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Education</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="title">Deenbandhu Chhotu Ram University of Science and Technology, Murthal</h2>
          <h2 class="experience-sub-title">Bachelor Of Technology</h2>
          <h3>Electronics & Communication Engineering</h3>
          <p>2019-23</p>
          <p>CGPA: 8.91</p>
        </div>
      </div>
      <div class="about-containers">
        <div class="details-container">
            <h2 class="title">St. Xavier's Higher Secondary School, Bettiah</h2>
            <h2 class="experience-sub-title">Intermediate</h2>
            <h3>Physics, Chemistry, Mathematics</h3>
            <p>2017-19</p>
            <p>Percentage: 90%</p>
        </div>
      </div>
      <div class="about-containers">
        <div class="details-container">
            <h2 class="title">Assembly Of God Church School, Bettiah</h2>
            <h2 class="experience-sub-title">Matriculation</h2>
            <h3>Maths, Science, Social Science, English, Hindi</h3>
            <p>2015-17</p>
            <p>CGPA: 10</p>
        </div>
      </div>
    </div>    
</section>
