<section id="project">
    <p class="section__text__p1">Dive into My</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="title">HHA Exchange</h2>
          <h2 class="experience-sub-title">Homecare software solution</h2>
          <h3>Payer Module</h3>
          <p>
            Established a user-friendly interface to seamlessly connect 100+ payers and providers across the homecare ecosystem, allowing 
            for aggregation of all visit records; this approach increased user adoption rates, with annual 234 million confirmed visits.  
          </p>
          <br/>
          <ul>
            <li>Optimized messaging using Hangfire Job to sync between across 2 different entities – Payers and Vendors.</li> 
            <li>Developed features and fixed bugs using vb.NET for 2 solutions. </li>
            <li>Managed 6+ databases, modifying tables as required. </li>
            <li>Collaborated with 3+ teams to implement business logic.</li>
          </ul>

          <br/>
          <br/>

          <h3>Audit History / Notification Module </h3>
          <p>
            This module tracks and audits the history of over 300 tables in the database and ensures that the system delivers
            important notifications to users on time.            
          </p>
          <br/>
          <ul>
            <li>Migrated Legacy Services to AWS Cloud: Transitioned the 'audit-history' service to a serverless AWS architecture, 
                achieving 150% scalability improvement while processing over 150 million records/day using Kinesis, Lambda, and 
                OpenSearch.</li> 
            <li>Utilized AWS S3 bucket for configurations and logs, OpenSearch for querying and indexing. </li>
            <li>Implemented responsive UI Modernization for 3 separate notification types.  </li>
            <li>Upgraded email and notification services to handle 10k+ daily events with Kafka Queues, reducing processing latency 
                by 40%.  </li>
          </ul>
        </div>
      </div>
    </div>    
</section>
