    <section id="resume">
        <p class="section__text__p1">My</p>
        <h1 class="title">Resume</h1>
        <div class="experience-details-container">
          <div class="about-containers">
            <div class="details-container">
                <p>
                    Welcome to my resume page! I’m Aman Varchaswi, a passionate Software Engineer with a background in .NET applications. 
                    Over the years, I’ve had the privilege of working on diverse projects, honing my abilities, and collaborating with 
                    talented teams to deliver exceptional results.
                </p>
                <p>
                    With experience in .NET applications and AWS cloud infrastructure, I’ve developed a unique skill set 
                    that allows me to tackle complex challenges and drive impactful outcomes. Whether it’s through design, development, 
                    problem-solving, or project management, I’m committed to delivering high-quality work that exceeds expectations.
                </p>
                <p>
                    Below, you can view a detailed outline of my professional journey, including my education, work experience, skills, 
                    certifications, and notable achievements. If you'd like to discuss any of my experiences or collaborate on an exciting 
                    project, feel free to reach out—I’m always open to new opportunities!
                </p>
              <br/>
              <br/>
              <div class="btn-container">
                  <button class="btn btn-color-2" onclick="window.open('./assets/Aman_Varchaswi_Resume.pdf')">
                      View Resume (PDF)
                  </button>
                  <button class="btn btn-color-1" onclick="window.location.href='assets/Aman_Varchaswi_Resume.pdf';">
                      Download Resume (PDF)
                  </button>
              </div>            
            </div>
          </div>
        </div>
    </section>